<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
</head>
<title>Dispute order</title>
<body>
  <div style="width: 1012px; background: #FFFFFF; margin: 0 auto;">
    <div style="width: 100%; background: #454B56; float: left; margin: 0 auto;">
      <div style="padding: 20px 0 10px 15px; float: left; width: 50%;"></div>
    </div>
    <div style="width: 970px; background: #FFFFFF; float: left; padding: 20px; border: 1px solid #454B56;">
      <div style="float: left; width: 35%; margin-bottom: 20px; margin-right: 7px;">Hi {{user.name}}, </div>
      <div style="float: left; width: 100%; margin-right: 3%; margin-top: 10px; font-size: 14px; font-weight: normal; line-height: 28px; font-family: Arial, Helvetica, sans-serif; color: #000; overflow: hidden;">
      	<p>Dispute orderId: {{orderId}} with product named: {{product.name}} has updated status raise claim.</p>
      </div>
          <!--end of left-->
      <div style="width:27.4%; margin-right:5px; float:right;"></div>
      <div style="clear:both"></div>
    </div>
  </div>
</body>

</html>
